<footer class="footer">
  <div class="row">
    <div class="box">
      <h5>About PlayPay</h5>
      <%= image_tag 'PlayPay.png' %>
      <p>売買や決済サービス、コイン積立など新機能をどんどん追加してる成長型のビットコイン取引所です。</p>
    </div>
    <div class="box">
      <h5>Services</h5>
      <ul>
        <li>ホーム</li>
        <li>簡単売買</li>
        <li>取引</li>
        <li>決済</li>
        <li>マネパカード申込</li>
      </ul>
    </div>
    <div class="box">
      <h5>Information</h5>
      <ul>
        <li>ニュース</li>
        <li>採用情報</li>
        <li>手数料</li>
      </ul>
    </div>
    <div class="box">
      <h5>Legal</h5>
      <ul>
        <li>利用規約</li>
        <li>重要事項説明</li>
        <li>プライバシーポリシー</li>
        <li>運営会社</li>
      </ul>
    </div>
    <div class="box">
      <h5>Support</h5>
      <ul>
        <li>初めての方へ</li>
        <li>ヘルプ</li>
        <li>よくあるご質問</li>
        <li>お問い合わせ</li>
      </ul>
    </div>
  </div>
</footer>