<div class="beginner">
  <h2 class="title">はじめての方へ</h2>
  <h3>お取引の始め方について概要</h3>
  <div class="box">
    <h4>1.お取引の始め方について</h4>
    <p>まずは法定通貨をご入金いただくことで、プレイコインの簡単売買や通貨の瞬間移送が可能となります。
      お手持ちのプレイコインをPlaypayにご入金いただくことでもご利用いただけます。なお、ご入金にはPlaypayアカウントが必要となります。
    </p>
  </div>
  <div class="box">
    <h4>2.「簡単売買」と「瞬間移送」の違いについて</h4>
    <p>「簡単売買」は初心者の方や、直ぐに売買したい人に適したサービスです。ここでは、簡単にプレイコインの売買ができます。「瞬間移送」は海外送金を早めたい方向けのサービスです。ユーザー間で法定通貨並びにプレイコインのお取引が行えます。
    </p>
  </div>
  <%= image_tag 'easy-trade.png' %>
  <p>簡単売買の説明画像</p>
</div>