<div class="explanation">
  <h2 class="title">取引の前に</h2>
  <div class="container">
    <p>本サービスでは、ウォレット機能としてGoggle ChromeのプラグインであるMetaMaskを利用しています。</p>
    <p> MetaMaskのインストールがお済みでない方は下記URLよりインストールして頂くようお願い致します。</p>
    <br>
    <br>
    <h4>MetaMask install</h4>
    <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=ja">Google
      Chromeウェブストア日本語版</a>
    <br>
    <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">Google Chrome web
      store English</a>
    <br>
    <br>
    <h4>MetaMask official website</h4>
    <a href="https://metamask.io/">MetaMask</a>

  </div>

</div>