<div class="faq">
  <h2 class="title">FAQ</h2>
  <h3 class="faq-title">登録ログインについて</h3>
  <ul>
    <li><%= link_to '1', qa_show_path(1) %> How do you feel now?</li>
    <li>How do you feel now?</li>
    <li>How do you feel now?</li>
  </ul>

</div>