<div class="faq">
  <h2 class="title">FAQ</h2>
  <h3 class="faq-title">登録ログインについて</h3>
  <ul>
    <li>ユーザーの登録はどうすればいいのでしょうか？</li>
    <p>メールからのご登録が可能です。</p>
    <li>登録確認メールが届かない</li>
    <p>メールアドレスが間違っていないかをご確認ください。迷惑ボックスに入っている場合もございますのでその場合は迷惑ボックスでの指定を解除してください。
    </p>
    <li>無効なURLですとエラーが出て登録ができません</li>
    <p>もう一度ご確認ください。</p>
  </ul>
  <h3 class="faq-title">クレジットカード決済について</h3>
  <ul>
    <li>決済に対応しているクレジットカードを教えてください</li>
    <p>日本国内発行または米国のクレジットカードで（Visa, AmericanExpress)、仮想通貨（プレイコイン）の購入が可能です。
    </p>
    <li>クレジットカード決済で購入できる暗号通貨は何ですか？</li>
    <p>プレイコインのみとなります。</p>
    <li>クレジットカード決済時にエラーが発生しました。どうすればいいですか？</li>
    <p>誠に恐れ入りますが、クレジットカード決済時に表示されたエラーメッセージ（エラーの内容）を詳しくお知らせ願います（例）3Dセキュアエラー、与信限度額オーバーなどお客様いただいたエラーの詳細情報をもとに調査致します。
    </p>
    <li>クレジットカード決済の手数料はいくらですか？</li>
    <p>５％になります。</p>
    <li>クレジットカード決済の限度額などは決まっていますか？</li>
    <p>クレジットカード決済での購入は、1,00000円単位で最大5000万円まで購入いただけます。※本人様確認が完了していないお客様はご利用いただくことができません。詳しい金額につきましては以下の通りとなります。</p>
  </ul>

</div>