<h3 class="title"><span class="red">S</span>upport</h3>
<div class="content">
  <div class="contact">
  <form class="">
    <h4>contact</h4>
    <textarea class="textarea"></textarea>
  </form>
  </div>

</div>