<div class="explanation">
  <h2 class="title">Account</h2>
  <table class="table">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>MetaMask Address</th>
    </tr>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.meta_address %></td>
    </tr>
  </table>

  <%= link_to 'ユーザー情報編集', edit_user_path %>
</div>