<h1 class="title">Wallet</h1>
<div class="content wallet">
  <table class="table">


    <tr>
      <th>種類</th>
      <th>数量</th>
      <th>使用可能</th>
      <th>価格</th>
      <th>換算</th>
    </tr>
    <tr>
      <td>PlayCoin</td>
      <td>100</td>
      <td>100</td>
      <td>100$</td>
      <td>1000$</td>
    </tr>
  </table>
</div>