.form-space {
  text-align: center;

  width: 300px;
  margin: auto;

  .title {
  }
}

.form {
  border: solid 1px lightgray;
  margin: 0 10px;
}

.form-box {
  display: flex;
  justify-content: flex-end;
}

.wallet{

  .title{
    margin: 10px;
  }
  height: 700px;
  margin:  auto;
  width: 60%;
  background-color: rgba(240,240,240,1);
  box-sizing: border-box;

  .table{
    padding: 10px 30px;
  }
}


.title{
  font-size: 24px;
  border-bottom:1px solid lightgray;
  margin: 50px 150px;

}

.red{
  color: rgba(200,120,120,0.5);
}

.contact {
 text-align: center;

  .textarea {
    width: 400px;
    height: 200px;
  }
}