.alert {
  margin-top: 70px;
  text-align: center;
}

.formal-title {
  font-size: 28px;
  margin: 50px 0;
  font-family: "Al Bayan";
}

.common-content {
  padding: 50px 400px;
  color: rgba(80, 80, 80, 1);

  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }

  .qa {
    .qa-list {
      margin: 10px 0;
    }
  }

  .alert {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .link {
    margin: 10px;
  }

  .ps {
    margin: 0 10px;
  }

  .arrow {
    border-top: 3px solid rgb(3, 155, 229);
    border-right: 3px solid rgb(3, 155, 229);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  .contact-content {
    .space {
      margin: 30px 0;
      select {
        width: 400px;
        height: 30px;
        padding: 5px;
      }
      input {
        width: 100%;
        height: 30px;
      }
      textarea {
        width: 100%;
        height: 200px;
      }
    }
    .button {
      width: 70px;
      font-size: 18px;
      color: #F7F7F7;
      height: 44px;
      background-color: rgb(3, 155, 229);
      margin-bottom: 50px;
    }
  }
}

.form-space {
  text-align: center;
  padding: 50px 400px;

  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 150px;
  }

  .form-box {
    margin: 20px;
    .form {
      border: solid 1px lightgray;
      margin: 0 10px;
    }
    .form-label {
      display: block;
      font-size: 15px;
    }
  }
  .button {
    width: 60%;

    font-size: 18px;
    color: #F7F7F7;
    height: 44px;
    background-color: rgb(3, 155, 229);
    margin: 50px;
  }
}

.wallet {

  .title {
    margin: 10px;
  }
  height: 700px;
  margin: auto;
  width: 60%;
  background-color: rgba(240, 240, 240, 1);
  box-sizing: border-box;

  .table {
    padding: 10px 30px;
  }
}

.title {
  font-size: 24px;
  border-bottom: 1px solid lightgray;
  margin: 50px 150px;

}

.red {
  color: rgba(200, 120, 120, 0.5);
}

.contact {
  text-align: center;

  .textarea {
    width: 400px;
    height: 200px;
  }
}

.explanation {
  text-align: left;
  padding: 50px 400px;
  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }

  .container {
    padding: 0 30px;
    line-height: 1.8;
  }

}

.confirm {
  text-align: center;
  padding: 50px 400px;
  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }

  p {
    font-size: 16px;
  }

  table {
    margin: auto;
  }
  th {
    text-align: center;
  }
  .button {
    width: 100px;
    font-size: 15px;
    color: #F7F7F7;
    height: 34px;
    background-color: rgb(3, 155, 229);
    margin-bottom: 50px;
  }

}

.user-index {
  text-align: center;
  padding: 50px 300px;
  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }
}

.warn-wait {
  color: red
}

.faq {
  font-size: 16px;
  padding: 50px 250px;
  .title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }

  .faq-title {
    font-size: 20px;
    font-weight: bold;
  }

  ul {
    padding-left: 30px;
    li {
      list-style: decimal;
      font-weight: bold;
    }
  }

}

.legal {
  text-align: left;
  padding: 50px 300px;
  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 20px 0;
  }
  ul {
    padding: 0 30px;
    li {
      list-style: decimal;
    }
  }
}

.important-things {
  text-align: left;
  padding: 50px 300px;
  color: rgba(80, 80, 80, 1);
  h1 {
    margin: 50px 0;
  }
  h2 {
    font-size: 24px;
  }

  h4 {
    margin: 30px 0;
    font-weight: bold;
  }
  p {
    span {
      font-weight: bold;
    }
  }

}

.beginner {
  text-align: left;
  padding: 50px 300px;
  color: rgba(80, 80, 80, 1);
  .title {
    text-align: left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    color: rgba(80, 80, 80, 1);
    margin: 50px 0;
  }
  h3{
    font-weight: bold;
    margin: 50px 0;
  }

  .box{
    background-color: rgb(245,245,245);
    border:1px solid rgb(227,227,227);
    padding: 20px 30px;
    margin: 40px 0;
    p{
      line-height: 1.7;
    }
  }

  img{
    width: 600px;
    height: 400px;
  }
}



